name: ci

on:
  push:
    branches: [master, develop]

jobs:
  pip-install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors on undefined names
        flake8 --count --select=E9,F63,F7,F82 --show-source --statistics dsenum tests
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics dsenum tests
    - name: Install dsenum
      run: |
        pip install --upgrade pip
        pip --version
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        pip install -e .
  conda-install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        python-version: 3.7
    - name: Display Conda version
      run: conda --version
    - name: Display Python version
      run: |
        python -c "import sys; print(sys.version)"
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors on undefined names
        flake8 --count --select=E9,F63,F7,F82 --show-source --statistics dsenum tests/
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics dsenum tests/
    - name: Create conda environment
      run: |
        conda env create -f environment.yml -n test-env
        source activate test-env
        pip install -e .
  tests:
    needs: [pip-install]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install cedd
      run: |
        pip install --upgrade pip
        pip --version
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        pip install -e .
    - name: Test with pytest
      run: |
        pytest --cov=dsenum --cov-config=setup.cfg --cov-report=xml tests/
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        fail_ci_if_error: true
